header.home-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
  background: #fff;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #eee, #fff);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #eee, #fff);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  .banner {
    flex: 1;
    margin: 0 12%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include media-query($on-palm) {
      flex-direction: column;
    }

    .banner-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1;

      .banner-image-container {
        display: flex;
        justify-content: center;
        margin-bottom: 4rem;
  
        img {
          animation: 1s ease-out 0s 1 slideInFromBottom;
          width: 600px;
          height: 100%;
          max-width: 80vw;
        } 
      }
      
      h1 {
        color: #51ad87;
        animation: 1s ease-out 0s 1 slideInFromLeft;
        text-align: center;
        @include media-query($on-palm) {
          font-size: 34px;
        }
      }

      h3 {
        color: #405a5a;
        animation: 1s ease-out 0s 1 slideInFromRight;
        text-align: center;
        @include media-query($on-palm) {
          font-size: 24px;
        }
      }
    }
    
  }
  .scroll {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;

    .triangle_down {
      position: relative;
      top: -5px;
      content: "";
      display: inline-block;
      width: 15px;
      height: 15px;
      border-right: 0.2em solid black;
      border-top: 0.2em solid black;
      transform: rotate(135deg);
      margin-right: 0.5em;
      margin-left: 1.0em;
      transition: 0.5s;

      &:hover {
        margin-top: 20px;
      }
    }
  }
}

nav {
  display: flex;
  justify-content: flex-end;
  padding: 0.2rem 1rem;

  .title {
    display: none;

    img {
      height: 50px;
    }
  }

  .site-nav {
    .page-link {
      color: $text-color;
      opacity: 0.7;
      transition: 0.3s;

      &:hover {
        color: $text-color;
        opacity: 1;
      }

      @include media-query($on-palm) {
        color: $text-color;
      }
    }
  }

  &.fixed-nav {
    position: fixed;
    justify-content: space-between;
    /* fallback for old browsers */
    background: #51ad87;
    /* Chrome 10-25, Safari 5.1-6 */
    border-bottom: 1px solid $grey-color-light;
    width: calc(100% - 2rem);
    z-index: 1;

    &.animate {
      animation: 0.5s ease-out 0s 1 slideInFromTop;
    }

    .title {
      display: flex;
    }

    .site-nav {
      .page-link {
        color: white;
        transition: 0.3s;

        &:hover {
          color: white;
        }
  
        @include media-query($on-palm) {
          color: $text-color;
        }
      }
    }
  }

  .sections {
    display: flex;
    flex-direction: column;
    justify-content: center;

    ul {
      margin-bottom: 0;

      li {
        display: inline-block;
        margin-left: 1rem;
      }
    }
  }
}

main {
  padding: 0 8rem 4rem;
  background-color: $background-color;

  @include media-query($on-palm) {
    padding: 5rem 1rem;
  }

  h2 {
    font-size: 36px;
    color: #405a5a;
    margin-top: 5rem;
  }

  p {
    font-size: 18px;
  }
}

/**
 * Page content
 */
 .page-content {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 115px);
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  >li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }

    &:hover {
      color: $primary-green;
      text-decoration: none;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      >svg {
        fill: $grey-color-dark;
      }
    }

    input~.trigger {
      clear: both;
      display: none;
    }

    input:checked~.trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }

      margin-left: 20px;
    }
  }
}

.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: 1rem;
  display: flex;
  justify-content: space-between;

  img {
    height: 58px;
    @include media-query($on-palm) {
      height: 38px;
    }
  }
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col {
  flex: 1;
  float: left;
  padding-left: $spacing-unit / 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  ul {
    margin-block-end: unset;
  }

  p {
    margin-bottom: 0;
  }
}

.align-right {
  text-align: right;
}

#contact {
  padding: 7rem 0 6rem 0;

  @include media-query($on-palm) {
    padding: 5rem 1rem;
  }

  h3 {
    margin-left: 8rem;
    margin-right: 8rem;
    @include media-query($on-palm) {
      margin-left: unset;
      margin-right: unset;
    }
  }

  p {
    margin-left: 8rem;
    margin-right: 8rem;
    @include media-query($on-palm) {
      margin-left: unset;
      margin-right: unset;
    }
  }
}

.contact-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;

  h2 {
    display: inline;
  }

  img {
    margin-left: 3rem;
    width: 100px;
  }
}

.form-container {
  width: 100%;
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.5fr;
  grid-column-gap: 2rem;

  @include media-query($on-palm) {
    width: unset;
    margin-left: unset;
    display: block;
  }

  .image-container {
    grid-column: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    img {
      width: 200px;
      height: 199px;
    }

    @include media-query($on-palm) {
      display: none;
    }
  }
}

form {
  grid-column: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1rem;
  align-items: center;
  max-width: 600px;
  margin: auto;

  .col-6 {
    width: 45%;
  }

  .col-12 {
    width: 100%;
  }

  .form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
  }
  
  .form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #d2d2d2;
    outline: 0;
    font-size: 16px;
    color: #212121;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }
  
  .form__field::placeholder {
    color: transparent;
  }
  
  .form__field:placeholder-shown ~ .form__label {
    font-size: 16px;
    cursor: text;
    top: 20px;
  }
  
  label,
  .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 12px;
    color: #9b9b9b;
  }
  
  .form__field:focus ~ .form__label {
    color: #009788;
  }
  
  .form__field:focus {
    padding-bottom: 6px;
    border-bottom: 2px solid #009788;
  }

  .form-buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;

    .contact-btn {
      background-color: white;
      padding: 1rem 4rem;
      border-radius: 61px;
      box-shadow: inset 0 0 0 2px #474E51;
      transition: 300ms box-shadow cubic-bezier(0.4, 0, 0.6, 1), 300ms background-color cubic-bezier(0.4, 0, 0.6, 1), 300ms color cubic-bezier(0.4, 0, 0.6, 1);;
      color: #474E51;
      border: 0;
      cursor: pointer;

      &:hover {
        box-shadow: inset 0 0 0 4px $primary-green;
        color: $primary-green;
      }
    }
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}